.clearfix:after {
	content:".";
	display:block;
	height:0;
	font-size:0;
	clear:both;
	visibility:hidden!important;
	overflow:hidden!important;
}
.clearfix {
	display:inline-block;
}
* html .clearfix {
	height:1%;
}
.clearfix {
	display: block;
}
.ui-btn-text {
	font-weight:normal;
}
.ui-icon.ui-icon-reload {
	background: url("../imgs/reload.png") no-repeat scroll 0 0 transparent;
	border-radius: 0 0 0 0;
	box-shadow: none;
	display: block;
	height: 18px;
	width: 14px;
}
.ui-body-c,
.ui-overlay-c {
	background:#F1F1F1;
}
.ui-focus,
.ui-btn:focus {
	box-shadow:none;
}
.leftBar {
	border-right: 1px solid #CCCCCC;
	display: block;
	float: left;
	min-height: 100%;
	width: 29%;
}
.rightContent {
	float:right;
	width:70%;
	display:block;
	min-height:100%;
}
.leftBar .ui-listview {
	margin: 0 0 0 -15px;
}
.leftBar .ui-listview-filter {
	border-top: 1px solid #CCCCCC;
	margin: 0 0 0 -15px;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
	box-shadow:none;
}
.article {
	display:none;
	visibility:hidden;
}
ul.ui-listview li.active {
	background: #333333;
	background: -moz-linear-gradient(top, #444444 0%, #2d2d2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #2d2d2d));
	background: -webkit-linear-gradient(top, #444444 0%, #2d2d2d 100%);
	background: -o-linear-gradient(top, #444444 0%, #2d2d2d 100%);
	background: -ms-linear-gradient(top, #444444 0%, #2d2d2d 100%);
	background: linear-gradient(to bottom, #444444 0%, #2d2d2d 100%);
	border: 1px solid #111111;
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 0 1px 1px #111111;
}
ul.ui-listview li.active .ui-link-inherit {
	color:#fff;
}
.head{
	   margin: 0;
    padding-left: 30px;
	}
.rightContent article{
	font-size: 12px;
    padding-left: 30px;
	}
.rightContent h2{
	font-size: 12px;
    margin: 0;
    padding-left: 30px;
    text-decoration: underline;
	}